services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: student_mssql
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "${MSSQL_SA_PASSWORD}"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
      - ./import:/var/opt/mssql/import

volumes:
  mssql_data: